.header-container{
    background-color: rgb(102, 92, 171);
    height:40px;
    padding:0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
}
.header-dark{
    background-color: black;
}
.header-container button{
    padding:2px 10px;
    border-radius:8px;
    border:none;
    cursor:pointer;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

button {
    background-color: #0418fb00;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }