.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(102, 92, 171);
    padding: 10px;
    font-family: "Comic Sans MS", cursive;
  }
  
  .header-container a,
  .header-container button {
    text-decoration: none;
    color: #ff69b4;
    font-size: 24px;
    transition: color 0.3s;
  }
  
  .header-container a:hover,
  .header-container button:hover {
    color: #8b0000;
  }
  