.search-container{
    margin:0px;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-container input{
    border:none;
    padding:8px 16px;
    border-radius: 8px;
    background-color: rgb(102, 92, 171);
    color:white;
}
.search-container input::placeholder{
    color:white;
}